# =========================
# JAVA / SPRING BOOT
# =========================
target/
*.class
*.jar
*.war
*.log

# =========================
# MAVEN
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# NODE / REACT
# =========================
node_modules/
dist/
build/

# =========================
# ENVIRONMENT FILES
# =========================
.env
.env.*

# =========================
# LOG FILES
# =========================
logs/
*.log

# =========================
# IDE FILES
# =========================
.idea/
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TERRAFORM
# =========================
.terraform/
*.tfstate
*.tfstate.backup

# =========================
# KUBERNETES
# =========================
kubeconfig

# =========================
# DOCKER
# =========================
docker-data/

# =========================
# SECURITY / SECRETS
# =========================
*.pem
*.key
*.crt
secrets/